/* line 5, sass/layout.scss */
body,
html {
  min-height: 100%;
}

/* line 9, sass/layout.scss */
.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

/* line 16, sass/layout.scss */
.header {
  vertical-align: top;
  overflow: hidden;
}

/* line 21, sass/layout.scss */
.site-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
}
/* line 26, sass/layout.scss */
.site-logo svg#logo {
  width: 100%;
  height: 100%;
}

/* line 32, sass/layout.scss */
.site-title {
  display: inline;
}

/* line 36, sass/layout.scss */
.time-display {
  display: inline-block;
  text-align: center;
  float: right;
}
/* line 41, sass/layout.scss */
.time-display .month,
.time-display .percent {
  font-size: 1.5rem;
}
/* line 45, sass/layout.scss */
.time-display .values {
  padding: 10px;
  font-size: 2rem;
  line-height: 1;
}
/* line 51, sass/layout.scss */
.time-display .values span.divider {
  font-size: 0.5em;
}
/* line 53, sass/layout.scss */
.time-display .values span.divider:last-child {
  margin: 5px 0 0 0;
  display: block;
}

/* line 63, sass/layout.scss */
.user-report {
  text-align: center;
}
/* line 65, sass/layout.scss */
.user-report li.user {
  list-style: none none;
  display: inline-block;
  margin: 10px;
}
/* line 70, sass/layout.scss */
.user-report li.user img {
  border: 5px solid;
}

/* line 77, sass/layout.scss */
.loader,
.user-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 86, sass/layout.scss */
.loader .logo {
  max-width: 20%;
  margin: 10% auto 0;
  text-align: center;
}
/* line 90, sass/layout.scss */
.loader .logo img {
  width: 100%;
  height: 100%;
}

/* line 98, sass/layout.scss */
.user-form form {
  max-width: 20%;
  margin: 10% auto 0;
}
