/**
 * Vars to override
 *
 * $fgColor
 * $bgColor
 * $bgColor2
 * $primaryColor
 * $secondaryColor
 */
/* line 5, sass/main.scss */
body {
  background: radial-gradient(#ffffff, #ccc5bd 100%) no-repeat;
  color: #404040;
}

/* line 12, sass/main.scss */
.user-report li.user img {
  border-color: #99bf31;
}

/* line 18, sass/main.scss */
.user-form {
  background-color: rgba(64, 64, 64, 0.8);
}
/* line 20, sass/main.scss */
.user-form form {
  padding: 20px 40px;
  background-color: rgba(64, 64, 64, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 1px solid #99bf31;
  border-radius: 5px;
  position: relative;
}
/* line 28, sass/main.scss */
.user-form form .login-close {
  border: none;
  background: none;
  -webkit-appearance: none;
  color: white;
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: 2rem;
}
/* line 37, sass/main.scss */
.user-form form .login-close:hover {
  text-shadow: 0 0 10px white;
}

/* line 45, sass/main.scss */
.active-user:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: #00e600;
  box-shadow: 0 0 10px rgba(0, 230, 0, 0.9);
}
