/**
 * Vars to override
 *
 * $fgColor
 * $bgColor
 * $bgColor2
 * $primaryColor
 * $secondaryColor
 */
/* line 5, sass/main.scss */
body {
  background: radial-gradient(#ffffff, #ccc5bd 100%) no-repeat;
  color: #404040;
}

/* line 14, sass/main.scss */
.user-report li.user .portrait.a-karmahunter img {
  border-color: gold;
}
/* line 18, sass/main.scss */
.user-report li.user .portrait.b-goalie img {
  border-color: #99bf31;
}
/* line 22, sass/main.scss */
.user-report li.user .portrait.c-karmauser img {
  border-color: gray;
}
/* line 26, sass/main.scss */
.user-report li.user .portrait.d-slacker img {
  border-color: red;
}

/* line 31, sass/main.scss */
.user-form {
  background-color: rgba(64, 64, 64, 0.8);
}
/* line 33, sass/main.scss */
.user-form form {
  padding: 20px 40px;
  background-color: rgba(64, 64, 64, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 1px solid #99bf31;
  border-radius: 5px;
  position: relative;
}
/* line 41, sass/main.scss */
.user-form form .login-close {
  border: none;
  background: none;
  color: white;
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 50, sass/main.scss */
.user-form form .login-close:hover {
  text-shadow: 0 0 10px white;
}

/* line 58, sass/main.scss */
.active-user:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #00e600;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 230, 0, 0.9);
  -moz-box-shadow: 0 0 10px rgba(0, 230, 0, 0.9);
  box-shadow: 0 0 10px rgba(0, 230, 0, 0.9);
}
