#header {
  border-bottom: 4px solid lighten($green, 10%);
  margin-bottom: 70px;
  position: relative;
  height: 112px;

  #logo {
    float: left;
    width: 62px;
    height: 62px;
    margin-top: 22px;
    margin-right: 1em;
    background: url(../img/reload-logo.png) -1px -1px no-repeat;
    text-indent: -100%;
    @include x-small {
      display: none;
    }
  }

  .logged_hours {
    font-size: 5em;
    font-family: $headerFontFamily;
    color: $blue-darkest;
    float: left;
    margin-top: -2px;
    margin-right: .15em;
    letter-spacing: -.05em;
  }

  .logged_hours_desc {
    color: $blue-darkest;
    text-transform: uppercase;
    float: left;
    margin-top: 23px;
    margin-right: 2em;
    @include medium {
      margin-right: 1em;
    }

    span {
      font-size: 1.1em;
      line-height: 1.2;
      display: block;

      .date,
      &.date {
        display: inline;
        color: $blue;
      }
    }
  }

  .scope_desc {
    font-family: $bodyFontFamily;
    padding-top: 40px;
    font-size: 1.4em;
    color: $blue;
    @include medium {
      font-size: 1.2em;
      padding-top: 28px;
    }
    @include small {
      position: absolute;
      top: 85px;
    }
    p {
      border-bottom: 1px solid $blue;
      display: inline;
      span {
        @include medium {
          display: block;
        }
        @include small {
          display: inline;
        }

        // "To" seperator.
        &.to {
          @include medium {
            display: none;
          }
          @include small {
            display: inline;
          }
        }
      }
    }
  }

  #hours_productive {
    background: $green;
    width: 150px;
    height: 150px;
    @include border-radius(150px, 150px);
    @include box-shadow(inset 0 -2px 0 0 rgba(0, 0, 0, .2));
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    right: 0;
    padding-top: 36px;

    // Label
    p {
      font-size: .75em;
      color: $green-darkest;
    }

    .percent {
      font-size: 1.2em;
      font-family: $headerFontFamily;
      color: #fff;
    }

    // Percent value
    h4 {
      font-size: 3em;
      color: #fff;
      margin-bottom: 0;
      line-height: .8;
    }
  }

  .remaining {
    display: none;
    font-family: AsapItalic;
    font-size: 1.5em;
    line-height: 1.2;
    color: darken($gray-light, 5%);
  }
}