// Loading bar.
/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  -webkit-pointer-events: none;
  pointer-events: none;
  @include transition(350mx linear all);
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  background: $green;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  @include transition(width 350ms);
  @include border-bottom-right-radius(1px);
  @include border-top-right-radius(1px);
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  @include border-radius(100%);
  @include box-shadow($green 1px 0 6px 1px);
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border:  solid 2px transparent;
  border-top-color:  $green;
  border-left-color: $green;
  border-radius: 10px;
  @include animation(loading-bar-spinner 400ms linear infinite);
}

@include keyframes(loading-bar-spinner) {
  0%   { @include rotate(0deg);   }
  100% { @include rotate(360deg); }
}
