ul#user-ranking {
  @include pie-clearfix;

  li.user {
    &.hide { display: none; }
    list-style: none none;
    margin-bottom: 2.5%;
    position: relative;
    width: 22.8%;
    margin-right: 2.8%;
    float: left;
    height: 110px;
    @include x-large {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include large {
      width: 31%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include medium {
      width: 48.6%;
      margin-right: 0;
      &:nth-child(2n+1) {
        margin-right: 2.8%;
      }
    }
    @include x-small {
      width: 100%;
      margin-right: 0;
    }

    // Rank icon
    .rank {
      width: 30px;
      height: 30px;
      text-align: center;
      background: $blue;
      color: $blue-darkest;
      position: absolute;
      top: -5px;
      left: -5px;
      line-height: 30px;
      font-size: 1.25em;
      @include border-radius(30px, 30px);
      @include text-shadow(0 1px 0 rgba(255, 255, 255, .4));
    }

    // User info
    .user_info {
      padding-top: .3em;
      padding-left: 112px;

      .desc {
        font-size: .75em;
      }

      .diff {
        font-size: .75em;
        font-style: italic;
        color: $gray-light;
        margin-top: 3px;        
      }      
    }

    .has-hat {
      position: absolute;
      top: -32px;
      left: 6px;
      z-index: 2;
    }

    // Avatar
    .user_avatar {
      .user_avatar_holder {
        width: 100px;
        height: 100px;
        background-color: $green-dark;
        @include border-radius(100px, 100px);
        @include box-shadow(-2px 0 0 rgba(0, 0, 0, .1));
        border: 6px solid $green;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    // Tag
    &:after {
      content: "Champ";
      position: absolute;
      bottom: 10px;
      left: -3px;
      width: 106px;
      padding: .05em 0 .1em;
      background: $yellow;
      text-align: center;
      color: #fff;
      font-family: AsapBoldItalic, sans-serif;
      @include box-shadow(0 -1px 1px 0 rgba(0, 0, 0, .2), inset 0 -1px 0 0 rgba(0, 0, 0, .1));
      @include text-shadow(0 1px 0 rgba(0, 0, 0, .3));
    }

    // Tag wrap effect
    .user_avatar:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 34px;
      left: -3px;
      z-index: 0;
      border-left: 53px solid transparent;
      border-right: 53px solid transparent;
      border-bottom: 53px solid darken($yellow, 40%);
    }

    // Champ tag
    &.a-karmahunter {
      &:after {
        content: "Champ";
        background: $yellow;
      }
      .user_avatar:before {
        border-bottom-color: darken($yellow, 30%);
      }

      .user_avatar {
        .user_avatar_holder {
          background-color: darken($yellow, 30%);
          border-color: $yellow;
        }

        // Rank icon
        .rank {
          background: $yellow;
          color: darken($yellow, 40%);
        }
      }
    }

    // Like a Boss
    &.b-goalie {
      &:after {
        content: "Like a boss";
        background: $green;
      }
      .user_avatar:before {
        border-bottom-color: darken($green, 30%);
      }

      .user_avatar {
        .user_avatar_holder {
          background-color: darken($green, 30%);
          border-color: $green;
        }

        // Rank icon
        .rank {
          background: $green;
          color: darken($green, 40%);
        }
      }
    }

    // Just chillin'
    &.c-karmauser {
      &:after {
        content: "Just chillin'";
        background: lighten($black, 30%);
      }
      .user_avatar:before {
        border-bottom-color: lighten($black, 5%);
      }

      .user_avatar {
        .user_avatar_holder {
          background-color: lighten($black, 10%);
          border-color: lighten($black, 30%);
        }

        // Rank icon
        .rank {
          background: lighten($black, 30%);
          color: lighten($black, 5%);
        }
      }
    }

    // Slacking!
    &.d-slacker {
      &:after {
        content: "Y U NO WORK";
        background: $red;
      }
      .user_avatar:before {
        border-bottom-color: darken($red, 30%);
      }

      // Rank icon
      .user_avatar {
        .user_avatar_holder {
          background-color: $red;
          border-color: $red;
        }

        .rank {
          background: $red;
          color: $black;
        }
      }
    }
  }
}
