/**
 * Vars to override
 *
 * $fgColor
 * $bgColor
 * $bgColor2
 * $primaryColor
 * $secondaryColor
 */

// Colors.
$drupalBlue: hsl(203, 94%, 38%); // rgb(6, 120, 190)
$reloadGreen: hsl(76, 59%, 47%); // rgb(152, 190, 49)
$primaryColor: $reloadGreen;

// Portrait colors.
$portrait-golden: gold;
$portrait-green: $reloadGreen;
$portrait-gray: gray;
$portrait-red: red;

// Random colors.
$border-gray: #C9C9C9;
$bootstrap-gray: #f9f9f9;
