// Core.
$fgColor: hsl(0, 0%, 25%); // rgb(64, 64, 64)
$bgColor: hsl(0, 0%, 100%); // rgb(255, 255, 255)
$bgColor2: hsl(32, 13%, 77%); // rgb(203, 196, 188)
$primaryColor: hsl(242, 13%, 57%); // rgb(131, 130, 159)
$secondaryColor: hsl(153, 13%, 67%); // rgb(159, 181, 171)
$activeUserLight: hsl(120, 100%, 45%); // rgb(0, 230, 0)

@import "vars";
