@import "compass/css3/border-radius";

// Generic.
body,
html {
  min-height: 100%;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

// Header.
.site-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  svg#logo {
    width: 100%;
    height: 100%;
  }
}

.site-title {
  display: inline;
}

// Time overview.
.totals {
  border-bottom: 1px solid;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

// User list.
.user-report {
  text-align: center;
  li {
    list-style: none none;
    display: inline-block;
    margin: 10px;

    img {
      border: 5px solid;
    }
  }
}

.loader,
.user-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  .logo {
    max-width: 20%;
    svg#logo {
      width: 100%;
      height: 100%;
    }
  }
}
