@import "compass/css3/border-radius";

// Generic.
body,
html {
  min-height: 100%;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

// Header.
.header {
  vertical-align: top;
  overflow: hidden;
}

.site-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  svg#logo {
    width: 100%;
    height: 100%;
  }
}

.site-title {
  display: inline;
}

.time-display {
  display: inline-block;
  text-align: center;
  float: right;
  .month,
  .percent {
    font-size: 1.5rem;
  }

  .values {
    padding: 10px;
    font-size: 2rem;
    line-height: 1;

    span {
      &.divider {
        font-size: 0.5em;
        &:last-child {
          margin: 5px 0 0 0;
          display: block;
        }
      }
    }
  }
}

// User list.
.user-report {
  text-align: center;
  li {
    list-style: none none;
    display: inline-block;
    margin: 10px;

    img {
      border: 5px solid;
    }
  }
}

.loader,
.user-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  .logo {
    max-width: 20%;
    margin: 10% auto 0;
    svg#logo {
      width: 100%;
      height: 100%;
    }
  }
}

.user-form {
  form {
    max-width: 20%;
    margin: 10% auto 0;
  }
}
