@import "compass/css3";
@import "vars.core";

// Users.
body {
  background: radial-gradient($bgColor, $bgColor2 100%) no-repeat;
  color: $fgColor;
}

.user-report {
  li.user {
    // Karma-hunter.
    .portrait.a-karmahunter {
      img { border-color: $golden; }
    }
    // Goalie.
    .portrait.b-goalie {
      img { border-color: $primaryColor; }
    }
    // Karma-user.
    .portrait.c-karmauser {
      img { border-color: $gray; }
    }
    // Slacker.
    .portrait.d-slacker{
      img { border-color: $red; }
    }
  }
}

.user-form {
  background-color: rgba($fgColor, 0.8);
  form {
    padding: 20px 40px;
    background-color: rgba($fgColor, 0.9);
    box-shadow: 0 0 20px rgba(black, 0.4);
    border: 1px solid $primaryColor;
    border-radius: 5px;
    position: relative;

    .login-close {
      border: none;
      background: none;
      color: $bgColor;
      position: absolute;
      bottom: 15px;
      right: 40px;
      font-size: 2rem;
      @include appearance(none);
      &:hover {
        text-shadow: 0 0 10px $bgColor;
      }
    }
  }
}

.active-user {
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: $activeUserLight;
    @include border-radius(100%);
    @include box-shadow(0 0 10px rgba($activeUserLight, 0.9));
  }
}

// User modal to display statistics.
.user_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);

  .content {
    max-width: 800px;
    position: relative;
    @include box-sizing(border-box);
    padding: 1px 25px;
    background-color: #fff;
    display: block;
    margin: 25px auto;

    .profile {
      float: left;
    }

    .chart {
      float: right;
    }

    .close {
      background-color: #fff;
      font-weight: normal;
      font-size: 14px;
      cursor: pointer;
      color: #333;
      padding: 4px;
      display: block;
      border: 1px solid #333;
      position: absolute;
      right: 5px;
      top: 5px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include opacity(1);
      @include text-shadow(none);

      &:hover {
        background-color: #333;
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
