@import "compass/css3";
@import "vars.core";

// Users.
body {
  background: radial-gradient($bgColor, $bgColor2 100%) no-repeat;
  color: $fgColor;
}

.user-report {
  li.user {
    img {
      border-color: $primaryColor;
    }
  }
}

.user-form {
  background-color: rgba($fgColor, 0.8);
  form {
    padding: 20px 40px;
    background-color: rgba($fgColor, 0.9);
    box-shadow: 0 0 20px rgba(black, 0.4);
    border: 1px solid $primaryColor;
    border-radius: 5px;
    position: relative;

    .login-close {
      border: none;
      background: none;
      color: $bgColor;
      position: absolute;
      bottom: 15px;
      right: 40px;
      font-size: 2rem;
      @include appearance(none);
      &:hover {
        text-shadow: 0 0 10px $bgColor;
      }
    }
  }
}

.active-user{
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: $activeUserLight;
    @include border-radius(100%);
    @include box-shadow(0 0 10px rgba($activeUserLight, 0.9));
  }
}
