<?php
/**
 * This information is the only thing you have to fill out to get
 * Timelord up and running. Have fun :)
 */
$config['site_name'] = 'Time Lord';
$config['timelord_base'] = '/';
$config['harvester_url'] = 'http://harvester.dev/web/app_dev.php';
$config['harvester_api_path'] = '/api/v1/';
$config['salt_string'] = 'ReloadGotTime';
