<!-- Page loader -->
<div id="loader" ng-show="loading" aria-hidden="true">
  <h3>
    <i class="thingy"></i>
    Loading...
  </h3>
</div>

<!-- Main content -->
<div id="content" ng-hide="loading">
  <!-- Header -->
  <div id="header">
    <!-- Site logo -->
    <div id="logo">Reload!</div>

    <p class="logged_hours">{{data.hours_total_registered}}</p>
    <div class="logged_hours_desc">
      <span>Out of <span class="date">{{data.hours_in_range}}</span></span>
      <span>hours were</span>
      <span>registered</span>
    </div>

    <div class="scope_desc" ng-click="modalState('range_modal', true)">
      <p ng-show="type == 'range'">
        {{from}}
        <span class="to">to</span>
        <span ng-show="!to">today</span>
        <span ng-show="to">{{to}}</span>
      </p>
      <p ng-show="type == 'month'">{{converted_month(month)}} <span>{{year}}</span></p>
    </div>

    <div class="remaining">hello</div>

    <div id="hours_productive">
      <h4>{{data.total_percent}}</h4>
      <p class="percent">percent</p>
      <p class="description">Registered</p>
    </div>
  </div>

  <!-- User portraits -->
  <ul id="user-ranking">
    <li class="user {{user.group}}" ng-click="toggleStats(user)" ng-repeat="user in data.ranking | orderBy:'group'">
      <div class="user_avatar">
        <span class="rank {{user.group}}">
          {{user.group_icon}}
        </span>
        <figure class="user_avatar_holder">
          <img src="{{user.imageUrl}}">
        </figure>
      </div>
      <div class="user_info">
        <h2>{{user.first_name}}</h2>
        <p class="desc">{{user.group_text}}</p>
      </div>
    </li>
  </ul>

  <!-- Footer -->
  <div class="footer">
    <div class="inner">
      <button ng-hide="session" class="btn btn-default" ng-click="loginOpen = !loginOpen">Login</button>
      <span>{{loginMessage}}</span>
      <form class="logout-form form-inline" role="form" name="logoutForm" ng-show="session" ng-submit="userLogout()">
        <button ng-click="loginOpen = !loginOpen" class="btn btn-default" type="submit">Logout</button>
        <span ng-show="session" class="active-user">{{session_user}} </span>
      </form>
    </div>
  </div>
</div>

<!-- Login form -->
<div class="user-form modal-wrap" ng-show="loginOpen && !session">
  <div class="modal-content range-modal">
    <form class="form-horizontal" role="form" name="loginForm" ng-submit="userLogin(user, 'login')" novalidate>
      <!-- Header -->
      <div class="header">
        <h3>Login</h3>
      </div>

      <!-- Content -->
      <div class="content">
        <!-- Email -->
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Email" name="username" ng-model="user.name" required autofocus />
        </div>
        <!-- Password -->
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" name="password" ng-minlength="4" ng-model="user.pass" required />
        </div>
        <!-- Submit -->
        <button class="btn btn-primary btn-m" type="submit" ng-disabled="loginForm.$invalid">Enter</button>
      </div>

      <!-- Close -->
      <i class="glyphicon glyphicon-remove close" ng-click="loginOpen = !loginOpen"></i>
    </form>
  </div>
</div>

<!-- Range Modal -->
<div class="modal-wrap" ng-show="range_modal">
  <div class="modal-content range-modal">
    <!-- Header -->
    <div class="header">
      <h3>Set data scope</h3>
    </div>

    <!-- Content -->
    <div class="content">
      <!-- Type: Radios -->
      <div class="radios">
        <label for="type_month">Month</label>
        <input type="radio" id="type_month" ng-model="type" ng-change="typeChange()" value="month" name="date_type"/>
        <label for="type_range">Range</label>
        <input type="radio" id="type_range" ng-model="type" ng-change="typeChange()" value="range" name="date_type"/>
      </div>

      <!-- Type: Month -->
      <div class="month" ng-show="show_month_settings">
        <form class="form-horizontal" role="form" name="monthForm" ng-submit="monthChange()" novalidate>
          <!-- Month -->
          <label for="date_month">Month</label>
          <select id="date_month" ng-model="month" ng-options="month.value as month.name for month in date_options_month"></select>
          <!-- Year -->
          <label for="date_year">Year</label>
          <select id="date_year" ng-model="year" ng-options="year.value as year.year for year in date_options_year"></select>
          <!-- Submit -->
          <button class="btn btn-primary btn-m" ng-click="modalState('range_modal', false)" type="submit">Select</button>
        </form>
      </div>

      <!-- Type: Range -->
      <div class="range" ng-show="show_range_settings">
        <form class="form-horizontal" role="form" name="rangeForm" ng-submit="rangeChange()" novalidate>
          <!-- From -->
          <div class="field">
            <label for="date_from">From</label>
            <input id="date_from" type="text" ng-model="from" placeholder="YYYY-MM-DD"/>
          </div>
          <!-- To -->
          <div class="field">
            <label for="date_to">To</label>
            <input id="date_to" type="text" ng-model="to" placeholder="YYYY-MM-DD"/>
          </div>
          <!-- Submit -->
          <button class="btn btn-primary btn-m" ng-click="modalState('range_modal', false)" type="submit">Select</button>
        </form>
      </div>
    </div>

    <!-- Close button -->
    <i class="glyphicon glyphicon-remove close" ng-click="modalState('range_modal', false)"></i>
  </div>
</div>

<!-- User Modal -->
<div class="modal-wrap" ng-show="user_modal">
  <div class="modal-content user-modal">
    <!-- Header -->
    <div class="header">
      <img src="{{user.imageUrl}}" alt=""/>
      <h3>{{user.full_name}}</h3>
      <p ng-show="type == 'range'">
        {{from}}
        <span ng-show="!to">to today</span>
        <span ng-show="to">to {{to}}</span>
      </p>
      <p ng-show="type == 'month'">{{converted_month(month)}} {{year}}</p>
    </div>

    <!-- Content -->
    <div class="content">
      <!-- Close button -->
      <i class="glyphicon glyphicon-remove close" ng-click="modalState('user_modal', false)"></i>

      <!-- Percent -->
      <div class="percent">
        <p>Registered hours</p>
        <h1>{{user.registered_hours_percent}}%</h1>
      </div>

      <!-- Chart -->
      <div class="chart">
        <ul class="label-colors">
          <li class="green" ng-show="label_state[0]">Registered time</li>
          <li class="red" ng-show="label_state[1]">Time behind</li>
          <li class="gold" ng-show="label_state[2]">Overtime</li>
          <li class="purple" ng-show="label_state[3]">Sickness</li>
        </ul>
        <canvas id="hours-chart" width="225" height="225"></canvas>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <td>Hours to reach</td>
            <td>{{user.hours_goal}} hours</td>
          </tr>
          <tr>
            <td>Hours registered</td>
            <td>{{user.hours_registered}} hours</td>
          </tr>
          <tr>
            <td>Registered hours in percent</td>
            <td>{{user.registered_hours_percent}}%</td>
          </tr>
          <tr ng-show="user.extra">
            <td>Billable hours</td>
            <td>{{user.extra.billability.calculated}} hours</td>
          </tr>
          <tr ng-show="user.extra">
            <td>Holiday</td>
            <td>{{user.extra.holiday}} hours</td>
          </tr>
          <tr ng-show="user.extra">
            <td>Vacation</td>
            <td>{{user.extra.vacation}} hours</td>
          </tr>
          <tr ng-show="user.extra.show_illness">
            <td>Illness (child)</td>
            <td>{{user.extra.illness.hours}} ({{user.extra.illness.child}}) hours</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
